In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import ggplot, aes, geom_density, geom_line, geom_point, ggtitle

## Q2 Sheet 1.2
- Exports by Section

In [3]:
Q2_Ex_bysection= pd.read_csv('Cleaned_data/FT_2021_Q2_1-2_clean.csv')
Q2_Ex_bysection.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
Q2_Ex_bysection

,2021_Q1_mSAR,2021_Q2_mSAR,Section Description,Section_Num
0,1330.587771,1246.109388,Live animals; animal products,1.0
1,730.502396,314.094411,Vegetable products,2.0
2,321.665141,370.525448,Animal or vegetable fats and oils and their cl...,3.0
3,1696.196372,1528.110050,"Prepared foodstuffs; beverages, spirits and vi...",4.0
4,153464.479090,174107.259426,Mineral products,5.0
5,16300.379878,20380.136109,Products of the chemical or allied industries,6.0
6,19985.167271,22491.160149,Plastics and articles thereof; rubber and arti...,7.0
7,44.924199,56.041112,"Raw hides and skins, leather, furskins and art...",8.0
8,89.550115,65.969730,Wood and articles of wood; wood charcoal; cork...,9.0
9,632.558423,651.007586,Pulp of wood or of other fibrous cellulosic ma...,10.0
10,580.317155,664.985823,Textiles and textile articles,11.0
11,18.075837,16.232383,"Footwear, headgear, umbrellas, sun umbrellas, ...",12.0
12,481.390297,935.295819,"Articles of stone, plaster, cement, asbestos, ...",13.0
13,1450.564738,1660.977839,"Natural or cultured pearls, precious or semi-p...",14.0
14,4668.346479,5827.190528,Base metals and articles of base metal,15.0
15,3455.493792,3563.738985,Machinery and mechanical appliances; electrica...,16.0
16,5996.794554,3708.808724,"Vehicles, aircraft, vessels and associated tra...",17.0
17,581.610483,459.150810,"Optical, photographic, cinematographic, measur...",18.0
18,162.245587,71.728855,Arms and ammunition; parts and accessories the...,19.0
19,452.729963,426.777643,Miscellaneous manufactured articles,20.0
20,83.345221,77.387474,"Works of art, collectors' pieces and antiques",21.0
21,212526.924762,238622.688292,Total,NaN

## Q4 sheet 1.1
- Exports by Section

In [5]:
Q4_Ex_bysection= pd.read_csv('Cleaned_data/ITR Q42021A_1-2_clean.csv')
Q4_Ex_bysection.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
Q4_Ex_bysection

,Section Description,2021_Q3_mSAR,2021_Q4_mSAR
0,الحيوانات الحية والمنتجات الحيوانية,1261.434116,1533.349188
1,منتجات نباتية,299.184048,531.968384
2,شحوم ودهون وزيوت حيوانية أو نباتية ومنتجات تفك...,340.523261,415.289859
3,منتجات صناعة الأغذية؛ مشروبات؛ سوائل كحولية وخ...,1742.577819,1937.558877
4,المنتجات المعدنية,207865.871133,241827.571306
5,منتجات الصناعات الكيماوية وما يتصل بها,21384.845760,25983.916057
6,لدائن ومصنوعاتها؛ مطاط ومصنوعاته,24107.048874,24445.240573
7,صلال وجلود خام و جلود مدبوغة وجلود بفراء ومصنو...,52.724745,59.655669
8,خشـب ومصنوعاتــه؛ فحم خشبـــي؛ فلين ومصنوعاته؛...,97.557234,240.464454
9,عجائن من خشب أو من مواد ليفية سليلوزية أخر؛ ور...,600.362717,876.253924
10,مواد نسـجية ومصنوعات من هذه المواد,641.157285,721.588806
11,أحذية، أغطية رأس، مظلات مطر، مظلات شمس، عصي مش...,26.326731,20.587657
12,مصنوعات من حجر أو جص أو إسمنت أو حرير صخري (اس...,552.659798,559.328708
13,لؤلؤ طبيعي أو مستنبت، أحجار كريمة أو شبه كريمة...,940.173355,1765.101166
14,معادن عادية ومصنوعاتها,5559.126488,6318.561156
15,آلات وأجهزة آلية؛ معدات كهربائية؛ أجزاؤها؛ أجه...,3682.140723,4153.832749
16,عربات، طائرات، بواخر، ومعدات نقل مماثلة,5214.760101,8013.488632
17,أدوات وأجهزة للبصريات أو للتصوير الفوتوغرافي أ...,432.173900,496.040799
18,أسلحة وذخائر؛ أجزاؤها ولوازمها,55.136521,65.337838
19,سلع ومنتجات متـنوعة,1029.866433,426.542556
20,تحف فنية، قطع للمجموعات وقطع أثرية,76.196262,72.368307
21,الإجمالي,275961.847304,320464.046665

### Combining them:

In [7]:
Tot_21_Ex_Discription= Q2_Ex_bysection['Section Description']

In [55]:
tot_21_Exports= (Q2_Ex_bysection['2021_Q1_mSAR'] + Q2_Ex_bysection['2021_Q2_mSAR'] + Q4_Ex_bysection['2021_Q3_mSAR'] + Q4_Ex_bysection['2021_Q4_mSAR']).round(3)
totNum_21_Exports= pd.DataFrame(tot_21_Exports,  columns=['Tot_21_Exports'])
totNum_21_Exports

    Tot_21_Exports
0         5371.480
1         1875.749
2         1448.004
3         6904.443
4       777265.181
5        84049.278
6        91028.617
7          213.346
8          493.542
9         2760.183
10        2608.049
11          81.223
12        2528.675
13        5816.817
14       22373.225
15       14855.206
16       22933.852
17        1968.976
18         354.449
19        2335.917
20         309.297
21     1047575.507

In [54]:
totNum_21_Exports.to_csv('Cleaned_data/totNum_21_Exports.csv')

In [43]:
totNum_21_Exports.rename(columns={'Tot_21_Exports': 'Value(millions SAR)'}, inplace=True)
Tot_21_Exports = pd.concat([totNum_21_Exports,Tot_21_Ex_Discription], axis=1)
Tot_21_Exports.drop([21], axis=0, inplace=True)

In [51]:
Tot_21_Exports.sort_values("Value(millions SAR)",ascending=False, inplace=True)
Tot_21_Exports.head(5)

    Value(millions SAR)                                Section Description
4            777265.181                                   Mineral products
6             91028.617  Plastics and articles thereof; rubber and arti...
5             84049.278      Products of the chemical or allied industries
16            22933.852  Vehicles, aircraft, vessels and associated tra...
14            22373.225             Base metals and articles of base metal

In [52]:
Tot_21_Exports.to_csv('Cleaned_data/Tot_21_Exports.csv')

Now compare it with 2020 Exports by section & non-oil exports from 2011-2020

## Q2 sheet 2.1
- Imports by Section

In [10]:
Q2_Im_bysection= pd.read_csv('Cleaned_data/FT_2021_Q2_2-1_clean.csv')
Q2_Im_bysection.drop('Unnamed: 0', axis=1, inplace=True)

In [11]:
Q2_Im_bysection

,2021_Q1_mSAR,2021_Q2_mSAR,Section Description,Section_Num
0,5124.105264,4644.582062,Live animals; animal products,1.0
1,8425.518360,8412.106256,Vegetable products,2.0
2,1052.075508,1014.701295,Animal or vegetable fats and oils and their cl...,3.0
3,7074.709286,7146.520745,"Prepared foodstuffs; beverages, spirits and vi...",4.0
4,4123.354467,7310.717963,Mineral products,5.0
5,13903.884165,15887.925115,Products of the chemical or allied industries,6.0
6,5050.023616,5604.432420,Plastics and articles thereof; rubber and arti...,7.0
7,466.308885,408.905142,"Raw hides and skins, leather, furskins and art...",8.0
8,1174.583182,1410.686669,Wood and articles of wood; wood charcoal; cork...,9.0
9,1452.554860,1747.468422,Pulp of wood or of other fibrous cellulosic ma...,10.0
10,5505.859544,4910.724366,Textiles and textile articles,11.0
11,1103.814127,906.115958,"Footwear, headgear, umbrellas, sun umbrellas, ...",12.0
12,2063.730818,1764.369658,"Articles of stone, plaster, cement, asbestos, ...",13.0
13,5375.119551,5072.590651,"Natural or cultured pearls, precious or semi-p...",14.0
14,11657.990332,12541.020653,Base metals and articles of base metal,15.0
15,27893.963758,26582.811135,Machinery and mechanical appliances; electrica...,16.0
16,22649.439999,24740.171216,"Vehicles, aircraft, vessels and associated tra...",17.0
17,4127.212287,3807.063015,"Optical, photographic, cinematographic, measur...",18.0
18,6003.026390,1219.652885,Arms and ammunition; parts and accessories the...,19.0
19,3591.651804,3383.210658,Miscellaneous manufactured articles,20.0
20,1683.282102,2428.455551,"Works of art, collectors' pieces and antiques",21.0
21,139502.208305,140944.231835,Total,NaN

## Q4 sheet 2.1 
- Imports by Section

In [12]:
Q4_Im_bysection= pd.read_csv('Cleaned_data/ITR Q42021A_2-1_clean.csv')
Q4_Im_bysection.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
Q4_Im_bysection

,Section Description,2021_Q3_mSAR,2021_Q4_mSAR
0,الحيوانات الحية والمنتجات الحيوانية,4706.252804,4526.153091
1,منتجات نباتية,8340.891727,7558.866638
2,شحوم ودهون وزيوت حيوانية أو نباتية ومنتجات تفك...,1096.588408,1099.633078
3,منتجات صناعة الأغذية؛ مشروبات؛ سوائل كحولية وخ...,7006.645802,7373.740892
4,المنتجات المعدنية,8626.331296,8623.421906
5,منتجات الصناعات الكيماوية وما يتصل بها,15053.749638,15532.935368
6,لدائن ومصنوعاتها؛ مطاط ومصنوعاته,5735.614725,5355.059265
7,صلال وجلود خام و جلود مدبوغة وجلود بفراء ومصنو...,445.318530,426.146853
8,خشـب ومصنوعاتــه؛ فحم خشبـــي؛ فلين ومصنوعاته؛...,1559.317872,1523.854678
9,عجائن من خشب أو من مواد ليفية سليلوزية أخر؛ ور...,1834.251064,1856.035267
10,مواد نسـجية ومصنوعات من هذه المواد,5265.496644,5289.982170
11,أحذية، أغطية رأس، مظلات مطر، مظلات شمس، عصي مش...,1044.552202,875.018064
12,مصنوعات من حجر أو جص أو إسمنت أو حرير صخري (اس...,1744.404144,1857.123988
13,لؤلؤ طبيعي أو مستنبت، أحجار كريمة أو شبه كريمة...,4432.812363,5548.635918
14,معادن عادية ومصنوعاتها,13875.196698,15319.101001
15,آلات وأجهزة آلية؛ معدات كهربائية؛ أجزاؤها؛ أجه...,27815.685118,31557.284471
16,عربات، طائرات، بواخر، ومعدات نقل مماثلة,25416.158582,24157.388522
17,أدوات وأجهزة للبصريات أو للتصوير الفوتوغرافي أ...,3713.413469,4028.803242
18,أسلحة وذخائر؛ أجزاؤها ولوازمها,2817.120787,2349.069322
19,سلع ومنتجات متـنوعة,3706.456827,3792.007990
20,تحف فنية، قطع للمجموعات وقطع أثرية,2319.568116,2488.478854
21,الإجمالي,146555.826816,151138.740578

### Combining them:

In [14]:
tot_21_Imports= (Q2_Im_bysection['2021_Q1_mSAR'] + Q2_Im_bysection['2021_Q2_mSAR'] + Q4_Im_bysection['2021_Q3_mSAR'] + Q4_Im_bysection['2021_Q4_mSAR']).round(3)
totNum_21_Imports= pd.DataFrame(tot_21_Imports,  columns=['Tot_21_Imports'])
totNum_21_Imports

    Tot_21_Imports
0        19001.093
1        32737.383
2         4262.998
3        28601.617
4        28683.826
5        60378.494
6        21745.130
7         1746.679
8         5668.442
9         6890.310
10       20972.063
11        3929.500
12        7429.629
13       20429.158
14       53393.309
15      113849.744
16       96963.158
17       15676.492
18       12388.869
19       14473.327
20        8919.785
21      578141.008

In [15]:
Tot_21_Im_Discription= Q2_Im_bysection['Section Description']
totNum_21_Imports.rename(columns={'Tot_21_Imports': 'Value(millions SAR)'}, inplace=True)
Tot_21_Imports = pd.concat([totNum_21_Imports,Tot_21_Im_Discription], axis=1)
Tot_21_Imports

    Value(millions SAR)                                Section Description
0             19001.093                      Live animals; animal products
1             32737.383                                 Vegetable products
2              4262.998  Animal or vegetable fats and oils and their cl...
3             28601.617  Prepared foodstuffs; beverages, spirits and vi...
4             28683.826                                   Mineral products
5             60378.494      Products of the chemical or allied industries
6             21745.130  Plastics and articles thereof; rubber and arti...
7              1746.679  Raw hides and skins, leather, furskins and art...
8              5668.442  Wood and articles of wood; wood charcoal; cork...
9              6890.310  Pulp of wood or of other fibrous cellulosic ma...
10            20972.063                      Textiles and textile articles
11             3929.500  Footwear, headgear, umbrellas, sun umbrellas, ...
12             7429.629  Articles of stone, plaster, cement, asbestos, ...
13            20429.158  Natural or cultured pearls, precious or semi-p...
14            53393.309             Base metals and articles of base metal
15           113849.744  Machinery and mechanical appliances; electrica...
16            96963.158  Vehicles, aircraft, vessels and associated tra...
17            15676.492  Optical, photographic, cinematographic, measur...
18            12388.869  Arms and ammunition; parts and accessories the...
19            14473.327                Miscellaneous manufactured articles
20             8919.785      Works of art, collectors' pieces and antiques
21           578141.008                                              Total

In [39]:
Tot_21_Imports.drop([21], axis=0, inplace=True)

In [40]:
Tot_21_Imports

    Value(millions SAR)                                Section Description
0             19001.093                      Live animals; animal products
1             32737.383                                 Vegetable products
2              4262.998  Animal or vegetable fats and oils and their cl...
3             28601.617  Prepared foodstuffs; beverages, spirits and vi...
4             28683.826                                   Mineral products
5             60378.494      Products of the chemical or allied industries
6             21745.130  Plastics and articles thereof; rubber and arti...
7              1746.679  Raw hides and skins, leather, furskins and art...
8              5668.442  Wood and articles of wood; wood charcoal; cork...
9              6890.310  Pulp of wood or of other fibrous cellulosic ma...
10            20972.063                      Textiles and textile articles
11             3929.500  Footwear, headgear, umbrellas, sun umbrellas, ...
12             7429.629  Articles of stone, plaster, cement, asbestos, ...
13            20429.158  Natural or cultured pearls, precious or semi-p...
14            53393.309             Base metals and articles of base metal
15           113849.744  Machinery and mechanical appliances; electrica...
16            96963.158  Vehicles, aircraft, vessels and associated tra...
17            15676.492  Optical, photographic, cinematographic, measur...
18            12388.869  Arms and ammunition; parts and accessories the...
19            14473.327                Miscellaneous manufactured articles
20             8919.785      Works of art, collectors' pieces and antiques

In [41]:
Tot_21_Imports.to_csv('Cleaned_data/tot_21_imports.csv')

Total = 578141.008

## Q2 sheet 2.3
- Imports by Country

In [17]:
Q2_Im_bycountry= pd.read_csv('Cleaned_data/FT_2021_Q2_2-3_clean.csv')
Q2_Im_bycountry.drop('Unnamed: 0', axis=1, inplace=True)

In [18]:
Q2_Im_bycountry

      2021_Q1_mSAR   2021_Q2_mSAR               Country
0     28672.171130   25679.954387                 CHINA
1     12586.885145   13482.467715  UNITED ARAB EMIRATES
2     16078.199931   13099.942399                 U.S.A
3      6621.067160    7448.297571               GERMANY
4      7501.885938    7185.961510                 INDIA
..             ...            ...                   ...
146       0.191555       0.329661               CURACAO
147       0.039809       0.300528                 LIBYA
148       0.050014       0.230318     BRUNEI DARUSSALAM
149     107.592465       7.647941       OTHER COUNTRIES
150  139502.208305  140944.231835                 TOTAL

[151 rows x 3 columns]

In [19]:
Q2_Im_bycountry['2021_Q1_mSAR'].unique()

array([2.86721711e+04, 1.25868851e+04, 1.60781999e+04, 6.62106716e+03,
       7.50188594e+03, 6.20140603e+03, 4.16389571e+03, 3.03379619e+03,
       4.66611144e+03, 9.45049906e+02, 3.60407165e+03, 3.12002183e+03,
       2.08630495e+03, 1.74332466e+03, 1.60930268e+03, 2.19393095e+03,
       2.06359186e+03, 1.53804027e+03, 1.92551028e+03, 1.19118844e+03,
       1.13564422e+03, 1.72120784e+03, 1.56759785e+03, 8.60059020e+02,
       1.27537471e+03, 1.09000755e+03, 1.46059811e+03, 1.26650122e+03,
       1.05439444e+03, 1.34797018e+03, 1.09824747e+03, 3.64347003e+02,
       5.73296321e+02, 8.61556732e+02, 5.21320998e+02, 7.87118420e+02,
       4.27243581e+02, 3.90550488e+02, 5.69300714e+02, 5.74999051e+02,
       5.25194654e+02, 4.29730432e+02, 4.63080902e+02, 5.18366250e+02,
       3.91959867e+02, 2.77742568e+02, 4.48389142e+02, 3.00310394e+02,
       6.35479122e+02, 2.63253135e+02, 2.66465832e+02, 1.78191426e+02,
       1.29809313e+02, 2.43005991e+02, 2.35205443e+02, 3.23807333e+02,
       1.95167206e+02, 8.46193260e+01, 1.89624256e+02, 7.95654380e+01,
       1.59265400e+01, 1.07217430e+02, 3.73437570e+02, 7.29911390e+01,
       1.22909232e+02, 8.80456000e-01, 1.22763490e+02, 4.31400000e-03,
       1.69137568e+02, 1.22440790e+02, 4.30137820e+01, 8.01770580e+01,
       1.19160992e+02, 5.53505260e+01, 1.04300022e+02, 5.02845850e+01,
       6.94540390e+01, 4.50241240e+01, 4.62943400e+01, 2.02014130e+01,
       4.08946860e+01, 7.27701120e+01, 5.41532560e+01, 1.74971780e+01,
       1.15475090e+01, 1.88526320e+01, 6.01200630e+01, 1.53361670e+01,
       3.94890910e+01, 1.66222590e+01, 1.59844690e+01, 1.12732610e+01,
       3.27936475e+02, 2.62957670e+01, 1.34095240e+01, 2.46412190e+01,
       1.75138840e+01, 2.57835390e+01, 3.36069100e+00, 1.58587640e+01,
       9.32835600e+00, 8.75142000e+00, 4.27377500e+00, 8.95888600e+00,
       9.44540200e+00, 3.61329100e+00, 1.45789000e+00, 6.22727100e+00,
       3.20360800e+00, 5.31434800e+00, 1.50705000e+01, 2.73128300e+00,
       4.15614000e-01, 4.82927100e+00, 4.12471600e+00, 2.52617760e+01,
       2.74449600e+00, 5.52960400e+00, 2.80933300e+00, 2.46370000e-02,
       1.50000000e+00, 1.57702000e-01, 1.03163700e+00, 1.63224500e+00,
       2.42000000e-01, 1.00115600e+00, 1.99926300e+00, 7.15497000e-01,
       3.34856500e+00, 5.02820000e-02, 1.23418500e+00, 9.14303000e-01,
       1.61765000e+00, 5.13234000e-01, 5.48097000e-01, 1.30530600e+00,
       1.37072800e+00, 1.46954600e+00, 4.80807000e+00, 4.27983000e-01,
       8.81359000e-01, 1.28654200e+00, 1.39900000e-03, 5.99812000e-01,
       6.92360000e-01, 1.91555000e-01, 3.98090000e-02, 5.00140000e-02,
       1.07592465e+02, 1.39502208e+05])

In [20]:
Q2_Im_bycountry['2021_Q1_mSAR'] = Q2_Im_bycountry['2021_Q1_mSAR'].astype(float)

In [21]:
Q2_Im_bycountry.to_csv('Cleaned_data/FT_2021_Q2_2-3_clean.csv')

In [22]:
Q2_Im_bycountry

      2021_Q1_mSAR   2021_Q2_mSAR               Country
0     28672.171130   25679.954387                 CHINA
1     12586.885145   13482.467715  UNITED ARAB EMIRATES
2     16078.199931   13099.942399                 U.S.A
3      6621.067160    7448.297571               GERMANY
4      7501.885938    7185.961510                 INDIA
..             ...            ...                   ...
146       0.191555       0.329661               CURACAO
147       0.039809       0.300528                 LIBYA
148       0.050014       0.230318     BRUNEI DARUSSALAM
149     107.592465       7.647941       OTHER COUNTRIES
150  139502.208305  140944.231835                 TOTAL

[151 rows x 3 columns]

In [23]:
0.454128 + 0.733882 + 0.050014 + 0.230318

1.468342

In [24]:
Q2_Im_bycountry.shape

(151, 3)

## Q4 sheet 2.3
- Imports by Country

In [25]:
Q4_Im_bycountry= pd.read_csv('Cleaned_data/ITR Q42021A_2-3_clean.csv')
Q4_Im_bycountry.drop('Unnamed: 0', axis=1, inplace=True)

In [26]:
Q4_Im_bycountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       148 non-null    object
 1   2021_Q3_mSAR  148 non-null    float64
 2   2021_Q4_mSAR  148 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.6+ KB

In [27]:
Q4_Im_bycountry.tail(10)

               Country   2021_Q3_mSAR   2021_Q4_mSAR
138  بروناي دار السلام       0.454128       0.733882
139              كونجو       0.085348       0.715577
140           سيراليون       0.573698       0.686244
141             موناكو       0.561738       0.669824
142           جزر فيجى       1.089308       0.615546
143          موريتانيا       0.015553       0.462222
144      جزيرة نورفولك       0.133750       0.378750
145            كوراساو       0.085575       0.370466
146         بقية الدول     102.835653       9.129419
147           الإجمالي  146555.826816  151138.740578

In [28]:
Q4_Im_bycountry['Country'].unique()

array(['CHINA', 'USA', 'UAE', 'INDIA', 'GERMANY', 'اليابان', 'مصر',
       'ايطاليا', 'فرنسا', 'المملكة المتحدة', 'كوريا الجنوبية', 'سويسرا',
       'البحرين', 'اندونيسيا', 'البرازيل', 'تايلاند', 'هولندا', 'اسبانيا',
       'روسيا الاتحادية', 'سلطنة عمان', 'سنغافورة', 'بلجيكا', 'ماليزيا',
       'تايوان', 'السويد', 'استراليا', 'هونج كونج', 'الأردن', 'فيتنام',
       'ايرلندا', 'بولندا', 'أوكرانيا', 'اليونان', 'كندا', 'الدنمارك',
       'المكسيك', 'جنوب افريقيا', 'النمسا', 'الأرجنتين', 'الكويت',
       'رومانيا', 'التشيك', 'بنغلاديش', 'باكستان', 'قطر', 'فنلندا',
       'نيوزيلندا', 'السودان', 'سوريا', 'المجر (هنغاريا)',
       'جمهورية كونجو الديمقراطية', 'سلوفاكيا', 'بلغاريا', 'اثيوبيا',
       'الجمهورية اليمنية', 'النرويج', 'الفلبين', 'البرتغال', 'المغرب',
       'اكوادور', 'تشيلي', 'الاتحاد الأوربي، غير مذكورة في مكان آخر',
       'مولدافيا', 'جواتيمالا', 'سريلانكا', 'كوستاريكا', 'صربيا', 'كينيا',
       'لوكسمبورج', 'بورتوريكو', 'ميانمار (بورما)', 'ليتوانيا',
       'كولومبيا', 'كامبوديا', 'كرواتيا', 'تونس', 'سلوفينيا', 'مالطا',
       'جورجيا', 'فلسطين', 'العراق', 'افغانستان', 'البوسنة والهرسك',
       'تركيا', 'بيرو', 'تنزانيا', 'قبرص', 'نيجيريا', 'ألبانيا',
       'كازاخستان', 'زامبيا', 'أوزباكستان', 'لاتفيا', 'اسـتونيا',
       'بيلاروس (روسيا البيضاء)', 'مقدونيا', 'لبنان',
       'جمهورية الدومينيكان', 'أوروغواي', 'دومينيكا', 'باراغواي',
       'أوغندا', 'السلفادور', 'مدغشقر', 'سان مارينو', 'ناميبيا',
       'جمهورية الصومال', 'أيسلندا', 'ليختنشتاين', 'موريشيوس', 'غانا',
       'هندوراس', 'بنما', 'جيبوتي', 'أروبا', 'جمهورية كوسوفو', 'زيمبابوي',
       'اذربيجان', 'ساحل العاج (كوت ديفوار)', 'موزمبيق', 'الجزائر',
       'توجو', 'مكاو', 'قرغيزستان (قرغيزيا)', 'بوليفيا', 'الكاميرون',
       'الجابون', 'رواندا', 'إسواتيني (سوازيلاند)',
       'جزر فيرجن البريطانية', 'السنغال', 'لاوس', 'نيكاراجوا', 'ليسوتو',
       'غيانا', 'ملاوي', 'فنزويلا', 'ارمينيا', 'بروناي دار السلام',
       'كونجو', 'سيراليون', 'موناكو', 'جزر فيجى', 'موريتانيا',
       'جزيرة نورفولك', 'كوراساو', 'بقية الدول', 'الإجمالي'], dtype=object)

In [29]:
TotNum_21_Importsbycountry= (Q2_Im_bycountry['2021_Q1_mSAR'] + Q2_Im_bycountry['2021_Q2_mSAR'] + Q4_Im_bycountry['2021_Q3_mSAR'] + Q4_Im_bycountry['2021_Q4_mSAR'])
Tot_21_Importsbycountry= pd.DataFrame(TotNum_21_Importsbycountry, columns=['Value(millions SAR)'])
Tot_21_Importsbycountry

     Value(millions SAR)
0          116846.065837
1           57093.150714
2           50369.320116
3           29577.988822
4           28498.282271
..                   ...
146           112.486288
147        297694.907731
148                  NaN
149                  NaN
150                  NaN

[151 rows x 1 columns]

In [30]:
# THIS IS WRONG
Country= Q2_Im_bycountry['Country']
Tot_21_Imcountries = pd.concat([Tot_21_Importsbycountry,Country], axis=1)
Tot_21_Imcountries

     Value(millions SAR)               Country
0          116846.065837                 CHINA
1           57093.150714  UNITED ARAB EMIRATES
2           50369.320116                 U.S.A
3           29577.988822               GERMANY
4           28498.282271                 INDIA
..                   ...                   ...
146           112.486288               CURACAO
147        297694.907731                 LIBYA
148                  NaN     BRUNEI DARUSSALAM
149                  NaN       OTHER COUNTRIES
150                  NaN                 TOTAL

[151 rows x 2 columns]

In [31]:
146555.826816 + 151138.740578
297694.907731 - 297694.567394

0.3403369999723509

In [32]:
Tot_21_Imcountries['Value(millions SAR)'] = Tot_21_Imcountries['Value(millions SAR)'].replace([50369.320116,
57093.150714, 29577.988822, 28498.282271],[60201.94029,47260.53065, 27879.79959, 30196.471542])
Tot_21_Imcountries

     Value(millions SAR)               Country
0          116846.065837                 CHINA
1           47260.530650  UNITED ARAB EMIRATES
2           60201.940290                 U.S.A
3           27879.799590               GERMANY
4           30196.471542                 INDIA
..                   ...                   ...
146           112.486288               CURACAO
147        297694.907731                 LIBYA
148                  NaN     BRUNEI DARUSSALAM
149                  NaN       OTHER COUNTRIES
150                  NaN                 TOTAL

[151 rows x 2 columns]

In [33]:
# Total
# Tot_21_Imcountries.loc[150,'Value(millions SAR)'] = 578141.008

In [34]:
Tot_21_Imcountries.drop(150, axis=0, inplace=True)

In [35]:
Tot_21_Imcountries.loc[149,'Value(millions SAR)'] = 227.205478
Tot_21_Imcountries.loc[148,'Value(millions SAR)'] = 1.468342
Tot_21_Imcountries.loc[147,'Value(millions SAR)'] = 0.340337
 # Libya = 0.3403369999723509

In [36]:
Tot_21_Imcountries.sort_values("Value(millions SAR)",ascending=False).head(10)

    Value(millions SAR)               Country
0         116846.065837                 CHINA
2          60201.940290                 U.S.A
1          47260.530650  UNITED ARAB EMIRATES
4          30196.471542                 INDIA
3          27879.799590               GERMANY
5          22781.217435                 JAPAN
6          17674.917461                 ITALY
8          15772.009358                FRANCE
7          15095.790883                 EGYPT
10         14045.311206        UNITED KINGDOM

In [37]:
Tot_21_Imcountries

     Value(millions SAR)               Country
0          116846.065837                 CHINA
1           47260.530650  UNITED ARAB EMIRATES
2           60201.940290                 U.S.A
3           27879.799590               GERMANY
4           30196.471542                 INDIA
..                   ...                   ...
145             1.502051          SIERRA LEONE
146           112.486288               CURACAO
147             0.340337                 LIBYA
148             1.468342     BRUNEI DARUSSALAM
149           227.205478       OTHER COUNTRIES

[150 rows x 2 columns]

In [38]:
USA = 14920.39699+ 16103.400957 + 16078.199931	+ 13099.9424 = 60201.94029
UAE = 10385.81819 + 10805.3596 + 12586.885145 + 13482.467715 = 47260.53065
INDIA = 8140.64578 + 7367.978312 + 7501.88594 + 7185.96151 = 30196.471542
GERMANY = 6832.22491 + 6978.20992 + 6621.06716 + 7448.2976 = 27879.79959
Other_Countries = 107.592465 + 7.647941 + 102.835653 + 9.129419 = 227.205478
Total = 139502.208305 + 140944.231835 + 146555.826816 + 151138.740578 = 578141.007534

SyntaxError: cannot assign to operator (645911989.py, line 1)

### Make a new data frame summing the total imports values