In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Maersk= pd.read_csv('Abusabaen Trading/paidBillsAsCSV.csv')

In [3]:
Maersk

                                                                                        Paid Bill;"Due On";"Billed Amount";"Already Paid";"Currency";"Status";"Payment Method"
969570290  EXPORT;"Sep 9   2019";4                                           850.00;4    850.00;"SAR";"Processed";"Other&#x20;Payments&...
587807386  EXPORT;"Nov 19  2019";5                                           380.16;5    380.16;"SAR";"Processed";"Other&#x20;Payments&...
969801300  EXPORT;"Dec 3   2019";188.00;188.00;"SAR";"Processed";"Other&#... NaN                                                       NaN
910416509  EXPORT;"Apr 30  2020";7                                           256.40;7    256.40;"SAR";"Processed";"Other&#x20;Payments&...
910696758  EXPORT;"May 19  2020";9                                           425.92;9    425.92;"SAR";"Processed";"Other&#x20;Payments&...
...                                                                                                                                    ...
SA00312091;"Dec 23         2021";-17                                         915.70;-17  915.70;"SAR";"Processed";"Other&#x20;Payments&...
                           2021";-15                                         850.84;-15  850.84;"SAR";"Processed";"Other&#x20;Payments&...
                                                                             850.83;-15  850.83;"SAR";"Processed";"Other&#x20;Payments&...
1KT334825  EXPORT;"Jan 19  2022";451.20;451.20;"SAR";"Processed";"Other&#... NaN                                                       NaN
216257624  EXPORT;"Feb 10  2022";6                                           094.56;6    094.56;"SAR";"Processed";"Other&#x20;Payments&...

[332 rows x 1 columns]

In [5]:
CMA_CGM= pd.read_csv('Abusabaen Trading/shipments_list.csv')