In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import ggplot, aes, geom_density, geom_line, geom_point, ggtitle

## Ratio of non-oil exports to imports

In [4]:
ratio_ex_im= pd.read_excel ('Data/Trading20.xlsx', sheet_name='4')
ratio_ex_im.to_csv("Cleaned_data/Trading20_4.csv", sep=",")

In [5]:
ratio_ex_im

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,الفهرس / Index
0,NaN,NaN,NaN,NaN,NaN,NaN
1,نسبة الصادرات غير البترولية للواردات,NaN,NaN,NaN,NaN,NaN
2,Ratio of Non-oil Exports to Imports,NaN,NaN,NaN,NaN,NaN
3,السنة,الصادرات غير البترولية\nNon-oil Exports,الواردات\nImports,نسبة الصادرات غير البترولية للواردات (%)\nRati...,NaN,NaN
4,Year,القيمة (مليون ريال) / (Million Riyals),NaN,NaN,NaN,NaN
5,2011,176567.731649,493449.082585,35.782361,NaN,NaN
6,2012,190951.553513,583473.067875,32.726713,NaN,NaN
7,2013,202443.212959,630582.433092,32.104163,NaN,NaN
8,2014,217029.903583,651875.760674,33.293139,NaN,NaN
9,2015,189901.077563,655033.363532,28.991054,NaN,NaN
10,2016,177693.532214,525635.962804,33.805437,NaN,NaN
11,2017,193479.004472,504446.616737,38.354704,NaN,NaN
12,2018,235458.083665,513992.690199,45.809617,NaN,NaN
13,2019,229184.234637,574361.454604,39.90244,NaN,NaN
14,2020,204352.737425,517490.59427,39.489169,NaN,NaN

In [7]:
ratio_ex_im.drop([0,1,2,3,4], axis=0, inplace=True)
ratio_ex_im.drop(['Unnamed: 4', 'الفهرس / Index'], axis=1, inplace=True)
ratio_ex_im.rename(columns={'Unnamed: 0': 'Year', 'Unnamed: 1': 'Exports (million SAR)', 'Unnamed: 2': 'Imports (million SAR)', 
'Unnamed: 3': 'Ratio of Non-oil Exports to Imports %'}, inplace=True)

In [8]:
ratio_ex_im

,Year,Exports (million SAR),Imports (million SAR),Ratio of Non-oil Exports to Imports %
5,2011,176567.731649,493449.082585,35.782361
6,2012,190951.553513,583473.067875,32.726713
7,2013,202443.212959,630582.433092,32.104163
8,2014,217029.903583,651875.760674,33.293139
9,2015,189901.077563,655033.363532,28.991054
10,2016,177693.532214,525635.962804,33.805437
11,2017,193479.004472,504446.616737,38.354704
12,2018,235458.083665,513992.690199,45.809617
13,2019,229184.234637,574361.454604,39.90244
14,2020,204352.737425,517490.59427,39.489169

In [14]:
ratio_ex_im.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 5 to 14
Data columns (total 4 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   10 non-null     object
 1   Exports (million SAR)                  10 non-null     object
 2   Imports (million SAR)                  10 non-null     object
 3   Ratio of Non-oil Exports to Imports %  10 non-null     object
dtypes: object(4)
memory usage: 400.0+ bytes

In [1]:
ratio_ex_im['Year'] = ratio_ex_im['Year'].astype(int)

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

NameError: name 'ratio_ex_im' is not defined

In [15]:
# make year a int type
# make the rest float

In [9]:
ratio_ex_im.to_csv('Cleaned_Data/Trading20_4_clean.csv')